inkdrop/connect.php
fileshare_OLD/connect.php
*.DS_Store*
inkdrop/database.db
*node_modules*/
*dist*/
inker3/BUILD/*.msi
inker3/BUILD/*.exe
inker3/BUILD/windows-x64
inker3/BUILD/windows-x64/*
inkdrop/bin/*
*/BUILD/linux*
*/BUILD/linux*/*
inker3/lib/winfsp_native.node
inker3/native/build/
inker3/native/node_modules/

*Thumbs.db*
*.DS_Store*